@import "https://fonts.googleapis.com/css?family=Inconsolata";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

button {
  font-family: monospace;
  background-color: #a91d3a;
  border: 0;
  padding: 10px;
  font-weight: 700;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  margin: 5px;
  border-radius: 8px;
  color: #eeeeee;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  appearance: none;
  cursor: pointer;
}
button:hover {
  background-color: #eeeeee;
  color: #a91d3a;
}
a {
  color: #eeeeee;
  text-decoration: none;
}
a:link {
  color: #eeeeee;
}
